block content
    header(id="header" class="navbar-head")
        div(class="container")
            div(class="logo float-left")
                a(href='/' class="navbar-brand") Ace Africa
            nav(class="menu-cust float-right")
                ul
                    li
                        a(href="#" class="btn btn-start" id="toggle") Toggle Night Mode
            div(class="clearfix")