block content 
    footer
        div(class="footer")
            div(class="container")
                div(class="row")
                    div(class="col-md-4 mb-3")
                        p(class="navbar-brand mb-3") Ace Africa
                        p(class="mb-3 footer-para") Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                        ul(class="socials")
                            li #[a(href="") #[i(class="fa fa-facebook")]]
                            li #[a(href="") #[i(class="fa fa-twitter")]]
                            li #[a(href="") #[i(class="fa fa-instagram")]]
                            li #[a(href="") #[i(class="fa fa-linkedin")]]
                    div(class="col-md-4 mb-3")
                        p(class="footer-head") Contact
                        p(class="footer-para") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                        ul 
                            li Tel: 09000232300
                            li Email: aceafrica@ace.com
                            li Working hours: 9am - 5pm
                    div(class="col-md-4 mb-3")
                        p(class="footer-head") Links
                        ul 
                            li #[a(href="") Terms and Conditions]
                            li #[a(href="") Services]
                            li #[a(href="") About Us]
                            li #[a(href="") Blog]
                            li #[a(href="") Privacy Policy]
        div(class="copyright")
            div(class="text-center")
                p &copy; Ace Africa. All rights reserved.
                                
                                